.cardStyle {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  min-width: 300px;
  width: 400px;
  height: 550px;
  margin: 10px 15px;
  text-align: center;
  font-family: arial;
  border-radius: 10px;
  background-color: white;
  display: flex;
  align-items: center
}

.priceStyle {
  color: grey;
  font-size: 22px
}